<a href="https://colab.research.google.com/github/410600299/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("test0606")

test0606

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0～50的奇數和結果是%d" % result)

0～50的奇數和結果是625

In [ ]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0～50的奇數和結果是%d" % result)

0～50的奇數和結果是650

In [ ]:
n = int(input("請輸入正整數: "))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數: 10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum = 0
for i in range(0,101):
  if(i%3==0 or i%7==0):
    sum += i
print("數值 1～100 中,所有是3或7倍數的數之總和 = ",sum)

數值 1～100 中,所有是3或7倍數的數之總和 =  2208

In [ ]:
p=1
counter=0
n = int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數12
12 的因數有 1 2 3 4 6 12
12 不是質數

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2 = ["香蕉","蘋果","橘子"]

In [ ]:
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1,"香蕉",True]

In [ ]:
list3

[1, '香蕉', True]

In [ ]:
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
print(list1[0])

1

In [ ]:
print(list1[1])

2

In [ ]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
list4 = ["香蕉","蘋果","橘子"]

In [ ]:
print(list4[1])

蘋果

In [ ]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [ ]:
print(list4[3])

IndexError: ignored

In [ ]:
print(list4[-1])

橘子

In [ ]:
print(list4[-2])

蘋果

In [ ]:
print(list4[-3])

香蕉

In [ ]:
print(list4[-4])

IndexError: ignored

In [ ]:
list5 = [[["tom","1234"]],["mary","abcd"],["david","5678"]]

In [ ]:
print(list5[1])

['mary', 'abcd']

In [ ]:
print(list5[0])

['tom', '1234']

In [ ]:
print(list5[1][1])

abcd

In [ ]:
print(list5[0])

['tom', '1234']

In [ ]:
print(list5[0][0])

tom

In [ ]:
print(list5[1][0])

mary

In [ ]:
print(list5[0][0])

tom

In [ ]:
score = [85,79,93]

In [ ]:
print("國文成績:",score[0],"分")
print("數學成績:",score[1],"分")
print("英文成績:",score[2],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [ ]:
list6 = [1,2,3,4,5]

In [ ]:
print(list6[0])

1

In [ ]:
list6[0]=9

In [ ]:
print(list6[0])

9

In [ ]:
print(list6)

[9, 2, 3, 4, 5]

In [ ]:
list7 = ["香蕉","蘋果","橘子"]

In [ ]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [ ]:
list8 = [123,"apple",True]

In [ ]:
for a in list8:
  print(a)

123
apple
True

In [ ]:
scores = [85,79,93]

In [ ]:
print(len(scores))

3

In [ ]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [ ]:
score = [85,79,93]
subject = ["國文成績:","數學成績:","英文成績:"]

In [ ]:
print(len(score))
print(len(subject))

3
3

In [ ]:
score = [85,79,93]
subject = ["國文成績:","數學成績:","英文成績:"]
for a in range(len(subject)):
  for b in range(len(score)-2):
    print(subject[a],score[b])

國文成績: 85
數學成績: 85
英文成績: 85

In [3]:
number = [1,2,3]
name = ["Tom","Mary","Tony"]

In [4]:
print(len(number))
print(len(name))

3
3

In [ ]:
number = [1,2,3]
name = ["Tom","Mary","Tony"]
for i in range(len(number)):
  for j in range(len(name)-2):
    print("編號:",number[i],"姓名:",name[j])

編號: 1 姓名: Tom
編號: 2 姓名: Tom
編號: 3 姓名: Tom